@page "/about"



<PageTitle>About</PageTitle>

<MudContainer Class="d-flex align-center mt-20 justify-center">
    <MudGrid Class="d-flex justify-center" Spacing="3">
    <MudItem>
            <MudText Typo="Typo.h3" GutterBottom="true">About</MudText>
    </MudItem>
    <MudItem>
        <MudText Color="Color.Secondary" Typo="Typo.h3">me</MudText>
    </MudItem>
    </MudGrid>
</MudContainer>
<MudContainer>
    <MudText Class="d-flex align-center justify-center mb-3">
        My name is Yann Staggl, and I'm an amateur developer based in Austria!
    </MudText>
    <div Class="d-flex align-end ml-10 mr-10">
    <MudText>
        I started with my first simple batch script in 2015, following a tutorial on how to make a 'matrix' effect in a cmd window, and slowly got better at writing scripts in various languages,
        from AutoHotKey to PowerShell, whatever I felt like using for my next project.
        In 2020, I finally started programming with Python, and I haven't looked back! My projects may be simple in scope, but I always have a lot of fun making them. You can check them out
        over on the <MudLink Color="Color.Secondary" Href="programming">programming</MudLink> page.
    </MudText>
    </div>
    <MudSpacer/>
    <div Class="d-flex align-end mt-5 ml-10 mr-10">
        <MudGrid Spacing="0">
            <MudItem>
                <MudText>Lately, I've also been interested in working with&nbsp;</MudText>
            </MudItem>
            <MudItem>
                <MudText Color="Color.Secondary">C#&nbsp;</MudText>
            </MudItem>
            <MudItem>
                <MudText>and&nbsp;</MudText>
            </MudItem>
            <MudItem>
                <MudText Color="Color.Secondary">Blazor</MudText>
            </MudItem>
            <MudItem>
                <MudText>, which I used to make this website.</MudText>
            </MudItem>
        </MudGrid>
    </div>
    
</MudContainer>