@page "/"

<PageTitle>Home</PageTitle>

<div class="d-flex align-center">
<MudText Align="Align.Right" Class="d-flex justify-end flex-grow-1 mt-20 gap-4" Typo="Typo.h3" GutterBottom="true">ystaggl</MudText>
<MudText Align="Align.Left" Class="d-flex justify-start mud-secondary-text flex-grow-1 mt-20 gap-4" Typo="Typo.h3" GutterBottom="true">.dev</MudText>
</div>
<MudSpacer/>
<MudText Typo="Typo.h3" GutterBottom="true">Hello, world!</MudText>
<MudText Class="mb-8">I'm still working on my first website!</MudText>