@page "/"
@using BlazorTypewriter

<PageTitle>Home</PageTitle>

<MudSpacer />

<MudContainer Class="d-flex align-end justify-center" Style="height:30vh">
    <MudText Typo="Typo.h3">ystaggl<span class="mud-secondary-text">.dev</span></MudText>
</MudContainer>

<MudContainer Class="d-flex align-start justify-center mt-5">
    <MudText Typo="Typo.h4">check out my <span class="mud-secondary-text"><Typewriter Builder="@typewriter"/></span></MudText>
</MudContainer>


@code {
    TypewriterBuilder typewriter = new TypewriterBuilder(defaultCharacterPause: 6)

        .TypeString("programs", 100)

        .Pause(3000)

        .DeleteAll(80)

        .TypeString("music", 100)

        .Pause(3000)

        .DeleteAll(80)

        .TypeString("github", 100)

        .Pause(3000)

        .DeleteAll(80)

        .Loop();
}