<div style="position:fixed; bottom:20px; left:20px" class="d-flex align-end">
    <MudContainer>
        <MudGrid Class="mud-container mud-container-maxwidth-lg mud-container--gutters mt-16">
            <MudItem>
            <MudText Align="Align.Left" Class="d-flex justify-start flex-grow-1 mt-20 gap-4" Typo="Typo.h4">ystaggl</MudText>
            <MudText Align="Align.Left" Class="d-flex justify-start flex-grow-1 mt-2 gap-4" GutterBottom="true">amateur software developer and wannabe musician</MudText>
            <a href="https://github.com/ystaggl">
                <MudIcon class="mt-2" Icon="@Icons.Custom.Brands.GitHub" Title="GitHub"></MudIcon>
            </a>
            </MudItem>
            <MudItem Style="position:fixed; bottom:9%; right:5%" Class="d-flex align-start">
                <MudText Align="Align.Left" Class="d-flex justify-end flex-grow-1 mt-20 gap-4" Typo="Typo.h5">Contact me!</MudText>

            </MudItem>
        </MudGrid>
    </MudContainer>
</div>